 body {
 background: Gray;
    color: indigo;
    font-family: "Lucida Console", "Courier New", monospace;
}

div.link >> a:link {
  color: white;
}
/*  .sidebar,.content{
    background: LightGray;
    color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 3px;
    margin: auto;
    border:1px solid #777;
}
.sidebar{
    width: 100px;
    float: left;
    position: sticky;
}
.content{
    width: 100px;
    
}
*/

section {
    background: LightGray;
    width: 90%;
    margin: auto;
    padding:1em;
    border: black;
    border-width: thick;
    border-style: solid;
    border-radius: 25px;
    }
    
    .header {
    padding: 2em;
    background: indigo;
    border: black;
    border-width: thick;
    border-style: solid;
    border-radius: 25px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    }
    
    img {
    width: 40%;
}

/*  .sidenav {
  height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left:0;
background-color: indigo;
overflow-x: hidden;
padding-top:60px;
transition: 0.5s;
    
}

.sidenav a {
   padding: 8px 8px 8px 32px; 
 text-decoration:none;   
 font-size:25px;
 color: black;
 display:block;
 transition: 0.3s;
    
}

.sidenav a:hover{
 color:white;   
    
}

.sidenav .closebtn {
position: absolute;
top:0;
right:25px;
font-size: 36px;
margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    
}

@media screen and (max-height:450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
 
}*/
/*function openNav() {
document.getElementById("mySidenav").style.width ="250px";   
document.getElementById("main").style.marginLeft ="250px";
}

function closeNav() {
document.getElementById ("mySidenav").style.width = "0";    
document.getElementById("main").style.marginLeft = "0";    
}
*/