 body {
 background: Gray;
    color: indigo;
    font-family: "Lucida Console", "Courier New", monospace;
}
section {
    background: LightGray;
    width: 90%;
    margin: auto;
    padding:1em;
    }
    
    .header {
    padding: 2em;
    background: indigo;
    border: black;
    border-width: medium;
    border-style: solid;
    border-radius: 25px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    }
    
    /*fig.acePic {
    width: 25px;
    height: 35px;
    position: relative;*/
}